*~
*#
*.swo
*.swp
__pycache__
.vscode
generation
.cache
/tools/claude_key.sh
.venv
why3shapes.gz
why3session.xml
why3shapes
/data/why3/**/*.xml
/data/why3/**/*.lst
/data/why3/**/*.yaml
/data/why3/**/*.proof-cache
/.archive
/results
/.VCG.cache
/.lean.cache
/.rocq.cache
lake-manifest.json
.lake
/data/why3/**/lib
/data/why3/pearl/Benchmark.lean
_build
.claude
/data/why3/responses
/tools/secret.sh
*.excluded
